body{
    margin: 0;
}

canvas{
    border: 1px solid black;
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
}

h1{
    position: absolute;
    float: left;
    color: white;
    stroke-width: 1px;
}

#mmb{
    transform: translateY(50px) translateX(25px) ;
}

#lmb{
    transform: translateY(0px) translateX(25px) ;
}